$mainFont: Arial, serif;
$timeFont: Consolas, "Lucida Console", "DejaVu Sans Mono", monospace;
$mainFontSize: 14px;
$mainColor: #fff;
$gradientList: #cb8ff7, #9215f2 25%;

@mixin gradient($list) {
  background: linear-gradient($gradientList);
}
